/* header releted style */

.main-line{
    background: rgba(229, 84, 115, 0.1);
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 70px;
    height: 850px;
}
.img1{
    width: 580px;
    height: 780px;
    margin-top: 70px;
    margin-right: 50px;
}
.main-line-head{
color: #272727;
font-size: 80px;
font-family: 'Open Sans', sans-serif;
padding-top: 100px;
padding-left: 130px;
margin-bottom: 0px;

}
.des{
    padding-left: 130px;
    color: rgba(39, 39, 39, 0.60);
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;

}
.btn{
    padding-left: 130px;
    padding-bottom: 160px;
}
.btn-primary{
    padding: 12px 25px;
    border-radius: 5px;
    border: 0px;
    background: #E55473;
    color: #fff;
}
/* main related style */
.hed{
    text-align: center;
    margin-top: 80px;

}
.headline0{
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;

}
.des2{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: rgba(39, 39, 39, 0.60);
    margin-bottom: 5px;

   
}
.des22{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: rgba(39, 39, 39, 0.60);
    margin-top: 0px;
}
    .dess2{
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        color: rgba(39, 39, 39, 0.60);
        margin-top: 0;
        margin-bottom: 100px;
}
/* featured releted style */

.featured{
    display: flex;
    gap: 60px;
    text-align: center;
    
    padding-top: 50px;
    margin-top: 0px;
    margin-left: 180px;


}

.ful1{
    width: 250px;
    height: 310px;
    padding: 30px; 
    margin-top: 50px;


}
.ful2{
    width: 250px;
    height: 290px;
    padding: 30px; 
    margin-top: 50px; 
    margin-left: 30px; 
    


}
.ful3{
    width: 250px;
    height: 350px;
    padding: 30px; 
    margin-top: 10px;  


}
.ful-style{
    background: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    width: 340px;
    height: 390px;
}
.ful-style2{
    background: rgba(5, 151, 160, 0.15);
    border-radius: 300px 300px 0px 0px;
    width: 340px;
    height: 390px;
}
.ful-style3{
    background: rgba(71, 125, 17, 0.15);
    border-radius: 300px 300px 0px 0px;
    width: 340px;
    height: 390px;
}
.und{
    display: flex;
    gap: 200px;
    text-align: center;
    margin-left: 200px;
    font-family: 'Open Sans', sans-serif;
    color: #272727;
    
}
.underline{
    padding-left: 80px;
    
}
/* delevary */

.delevary{
    display: flex;
    gap: 150px;
    text-align: center;
    padding: 70px;
    background: rgba(39, 39, 39, 0.05);
    margin: 100px 180px;

}
.main-line2{
    display: flex;
    background: rgba(229, 84, 115, 0.1);
}
.img2{
width: 300px;
height: 400px;
margin-top: 50px;
margin-bottom: 50px;
margin-left: 220px;
}
.main-line-head2{
    font-family: 'Open Sans', sans-serif;
    margin-left: 200px;
    margin-top: 170px;
    font-size: 40px;
    margin-bottom: 0px;

}
.off{
    color: #E55473;
}
.des3{
    font-family: 'Open Sans', sans-serif;
    color: rgba(39, 39, 39, 0.60);
    margin-left: 190px;
    font-size: 18px;
    margin-bottom: 0px;
    margin-top: 25px;
}
.des4{
    font-family: 'Open Sans', sans-serif;
    color: rgba(39, 39, 39, 0.60);
    margin-left: 280px;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 0px;
}
.btn-primary1{
    padding: 12px 25px;
    border-radius: 5px;
    border: 0px;
    background: #E55473;
    margin-left: 300px;
    margin-top: 25px;
    color: #fff;
}
/* 4 image style */
.image4{
    display: flex;
    gap: 20px;
    margin-left: 180px;
    margin-bottom: 0px;
}
.img5{
    width: 270px;
    height: 300px;
}
.input-file{
    background-image:url("Rectangle\ 9.png") ;
    margin-left: 180px;
    margin-right: 185px;
    padding: 50px;
    padding-bottom: 90px;
    margin-top: 100px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 0px;

}
.headline0{
    font-size: 40px;
    margin-bottom: 0px;
}
.des5{
   text-align: center;
   color: rgba(39, 39, 39, 0.60);
   font-family: 'Open Sans', sans-serif;
   margin-top: 15px;
   margin-bottom: 15px;

}
#em{
    padding-top: 10px;
    padding-right: 180px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-radius: 5px;
    border: 0px;
    margin-top: 0px;

}
.sub{
    padding: 10px 22px;
    border-radius: 5px;
    border: 0px;
    background: #E55473;
    color: #fff;
}
/* foot style */
.foot{
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    padding: 150px;
    text-align: center;
    margin-top: 150px;
}
.namee{
    color: #fff;
    font-size: 48px;
}
.copyy{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: 'Open Sans', sans-serif;
    margin-top: 200px;
}
.des6{
    color: rgba(255, 255, 255, 0.90);
    font-size: 14px;
    margin-bottom: 0px;
}
.des7{
        color: rgba(255, 255, 255, 0.90);
        font-size: 14px;
        margin-top: 7px;
        margin-bottom: 50px;
}

/* border radious 300px 300px 0px 0px */
